<div>
    <h2 translate="ramHacksApp.financialData.home.title">Financial Data</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="financial-data.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="ramHacksApp.financialData.home.createLabel">
                        Create new Financial Data
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'ramHacksApp.financialData.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="ramHacksApp.financialData.outstandingLoands">Outstanding Loands</span></th>
                    <th><span translate="ramHacksApp.financialData.efcTotal">Efc Total</span></th>
                    <th><span translate="ramHacksApp.financialData.student">Student</span></th>
                    <th><span translate="ramHacksApp.financialData.parent">Parent</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="financialData in vm.financialData track by financialData.id">
                    <td><a ui-sref="financial-data-detail({id:financialData.id})">{{financialData.id}}</a></td>
                    <td>{{financialData.outstandingLoands}}</td>
                    <td>{{financialData.efcTotal}}</td>
                    <td>
                        <a ui-sref="student-detail({id:financialData.student.id})">{{financialData.student.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="parent-detail({id:financialData.parent.id})">{{financialData.parent.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="financial-data-detail({id:financialData.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="financial-data.edit({id:financialData.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="financial-data.delete({id:financialData.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
